<head>

<title> Topics </title>



</head>


<body>
	<h1> Words On Mathematics And Proof </h1>
	<p>
		Math is hard. This difficulty manifest in many ways. Math can be subtle. The task of mathematics is to describe the world from
		assumptions about how the world works from simple assumptions about the world. How can we describe 


		Some mathematics can be appear very self involved and be distant from any practical use.
		That said, even imperfect models have been shown to be very useful. Radar imaging is based on
		various simplified versions of models but can still be very accurate. One must keep in mind what they are trying to 
		describe when applying mathematics. Approximation is a very powerful tool. 
		There is overlap in the subjects studied in mathematics, and more than one can learn in a lifetime. Community is vital in
		the study of mathematics. 
	</p>
	<h1> Topics </h1>
	<dl>
		<dt><a href="topics/arithmetic.html">Arithmetic</a><dt><dd>
		How to add, multiply, subtract, and divide a finite number of whole numbers, fractions, and irrational numbers.  Establish
		some convention when we cannot simplify to a fraction or whole number.
		</dd>

		<dt><a href="topics/anaysis.html">Analysis</a><dt><dd>
		Deals with infinite sets. Needs some sense of convergence. This is where calculus is made formal.
		</dd>
		<dt><a href="topics/modern_algebra.html">Modern Algebra</a><dt><dd>
		Consider doing algebra with things other than numbers, and
		operations different from elementary addition and 
		multiplication. 
		</dd>

		<dt><a href="topics/topology.html">Topogy</a><dt><dd>
		Deals with infinite sets. Needs some sense of convergence. This is where calculus is made formal.
		</dd>
	

		<dt><a href="topics/linear_algebra.html">Linear Algebra</a><dt><dd>Study sets that are closed under special
		types of addition and multiplication. The operations on objects here are the easiest types of maps to study. 
		Matrices are important here. The sets are called linear/vector spaces. Focus on finite dimensional case.</dd>

		<dt><a href="topics/functional_analysis.html">Functional Analysis</a><dt><dd>Several sets of functions form infinite dimensional linear spaces.
		In linear algebra you learn that elements of that space can be decomposed into weights sums of basic elements(called a basis).
		When we need to add an infinite number of things together, we must consider convergence. Functions of one variable are natural descriptions of 
		things that vary with time.  
		</dd>


		<dt><a href="topics/fouier_analysis.html">Fourier Analysis</a><dt><dd>Several sets of functions form infinite dimensional linear spaces.
		In linear algebra you learn that elements of that space can be decomposed into weights sums of basic elements(called a basis).
		When we need to add an infinite number of things together, we must consider convergence. Functions of one variable are natural descriptions of 
		things that vary with time.  
		</dd>


		<dt><a href="topics/harmonic_analysis.html">Harmonic Analysis</a><dt><dd>
		Concerned with generalizing Fourier analysis. Very modern topic.
		</dd>
		
		<dt><a href="topics/harmonic_analysis.html">Ordinary Differential Equations</a><dt><dd>
		Concerned with generalizing Fourier analysis. Very modern topic.
		</dd>



	</dl>

</body>
