/* the pre markup was derived from rubyStyle.css, the rest is from previous
iterations of my website http://repose.cx/. help yourself to bits you like. */

/* Kuler 

 Japanese Garden
 d8caa8 5c832f 284907 382513 363942
 
 Green Tea
 362d15 9c803d dbb467 c09e56 271e16

 Sandy Stone Beach
 e6e2af a7a37e efecca 046380 002f2f
*/

body {
 font: 14px/1.2 Verdana, Arial, Helvetica, sans-serif;
 background:#000000;
 padding:5%;
 padding-top:2%;
 margin:0px;
}
 
a {
    text-decoration:overline;
    /* font-weight:bold; */
    color:#5c832f;
	position:relative;
	top:-50px;
	left:350px;
	z-index=1;
}

input{

position:relative;
z-index=100;
}


a:hover {
    background:#5c832f;
    color:#d8caa8;
}
input{
background-color:#000000;
color:#ffffff;
}
h1 a {
 color:#111;
 font: 25px/1.2 Verdana, Arial, Helvetica, sans-serif;
 text-align:center;
}

h2 a {
 color:#666;
}

h3 a {
 color:#666;
}

h4 a {
 color:#666;
}

h1 { 
 font-size: 60px;
 color:#2E0487;
 border-bottom: 5px solid #000;
 padding: 2px;
 margin: 0px;
 margin-bottom: 8px;
}

h2 { 
 color:#B0170C;
 font-size: 30px;
 font-variant:small-caps;
 padding: 2px;
 margin-top: 5px;
 border-bottom: 2px solid #000000;
}

h3 { 
 color:#382513;
 font-size: 18px;
 padding: 2px;
 margin-top: 5px;
 border-bottom: 1px dashed #000;
}

h4 { 
 color:#363942;
 font-size: 14px;
 padding: 2px;
}

p.linkbar {
 font-size: 22px;
 padding: 2px;
 margin-top: 5px;
 text-align: center;
}

hr {
 border: 0;
 border-bottom: 1px dashed #000;
} 

img {
    float: center;
    margin: 10px;
    border-style:solid; border-width:2px;
}

img.displayed{
	display: block;
	margin-right:auto;
	margin-left:auto;
	position:relative;
	z-index=-1;
}

#im { 
    clear: right;
}
#picture-description{
	font-style: bold;
	font-size: 15px;
	font-variant:small-caps;
	color:#21545C;
	position:relative;
	left:300px;
	z-index=1;
}

pre {
    border: #777777 1px solid;
    padding: 0.5em;
    margin-left: 1em;
    margin-right: 2em;
    white-space: pre;
    background-color: #e6e6e6;
    color: black;
}
.comments{
	color:#FFFFFF;
}

div.menu{
position:none;

}
.information{
	color:#FAF4E6;
	background:#000000;
	padding-left:20%;
	padding-right:20%;
	font-size:20px;
	font-family:serif;
	position:relative;
	z-index=1;
}
.section-title{
 color:#B0170C;
 text-align: center;
 font-size: 30px;
 font-variant:small-caps;
 font-family: sans-serif;
 padding: 2px;
 margin-top: 5px;
 border-bottom: 2px solid #000000;
 	position:relative;
	z-index=1;
}
.page-title{
 font-size: 60px;
 font-family: monospace;
 color:#2E0487;
 border-bottom: 5px solid #000;
 padding: 2px;
 margin: 0px;
 margin-bottom: 8px;
 	position:relative;
	z-index=1;

}

.summary-title{
	font-size:50px;
	font-style:bold;
	color:#2E0487; 
		position:relative;
	z-index=1;
}
.summary{
	padding-left:10%;
	padding-right:10%;
	font-size:25px;
	font-family:serif;
	color:#FFB300;
	background-image:url('Mandelbrot.jpg');
		position:relative;
	z-index=1;
}

.verse {
    white-space: pre;
    margin-left: 1em;
}
.floatingimage{
padding:10%;
height:600px;
width:600;
position:fixed;
z-index=-2;
top:-80px;
}
dt { 
     font-weight: bold;
}

li {
     margin-bottom: 0.9ex;
}

li.summary {
    font-size: 12px;
    margin-bottom: 0.9ex;
}


table.cal {
    border-collapse: collapse;
    width: "100%";
    border: 2px solid black;
    font: 14px/1.2 Verdana, Arial, Helvetica, sans-serif; 
}



table.cal td {
    border: 2px solid black;
    padding: 4px;
    padding-bottom: 8px;
}

table.cal th {
    border: 2px solid black;
    padding: 6px;
}

span.code {
    font-family:"Courier","sans-serif";
    //font-style:italic;
}

table.links {
    width: 95%;
}

div.links {
    font-size: 18px;
    width: 90%;
}

div.links-sm {
    font-size: 14px;
    margin-left: 10px;
    margin-top: 5px;
    width: 90%;
}

div#current {
    background:#5c832f;
    color:#d8caa8;
    padding: 2px;
}

li li {
    margin-top: 5px;
}
